@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

:root{
    --background-color: #212121;
    --primary-color:#F0DB4F;
}
.container{
    display:grid;
    grid-template-areas:"navbar navbar navbar navbar"
    "hero hero hero hero"
    "banner banner banner-content banner-content";
    grid-template-rows: 10% 40% auto;
    grid-template-columns: 25% 25% 25% 25%;

}


.navbar{
    grid-area: navbar;
    background-color: var(--background-color);
    color: #eee;
}

.navbar ul{
    list-style: none;

}

.navbar li{
    display: inline;
    padding: 0 1rem;
    float:left;
}

.navbar .CTA{ 
    position:relative;  
    float: right;
    margin-right:1rem;
    background-color: #eee;
    border-radius: 16px;
    color:#212121

}

.hero{
    grid-area: hero;
    background-color: var(--background-color);
    color: #eee;
    text-align: center;
    padding: 2rem;
    
}

.hero img{
    width:10%;
    height:10%;
}

.hero-content{
    margin-top:-1rem;
}

.hero-content h2{
    font-size: 3rem;
}

.hero-content p{
    margin-top:-2%;
}

.banner{
    grid-area: banner;
    padding:5rem 2rem;
    padding-left:8rem;
    display:flex;
    justify-content: center;
    align-self: center;;
}

.banner img{
    max-width:100% ;
    height:auto;
}

.banner-content{
    padding: 5rem 2rem;
    padding-right:8rem;
    grid-area: banner-content;
}

.cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0rem 5rem;
    justify-content:start;
}

.card{
    padding: 0rem 1rem;
    /* max-width: 28.5%; */
    min-height: 500px;
}

.card img{
    width:100%;
    height:50%;
}

.card p{
    text-align: justify;
  text-justify: inter-word;
  
}

.footer-section{
    display:grid;
    grid-template-areas: "join" "footer";
    grid-template-rows: auto auto;
    height:30vh;
    padding: 3rem 0rem;
    
}

.join{
    background-color: var(--primary-color);
    grid-area:join;
    padding: 4rem 20rem;
    text-align: center;
    
}

.join h2{
    font-size: 1.5rem;
    font-weight: bolder;
}

.join p{
    font-size: 1.1rem;
}

.join ul {
    padding:1rem;
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
.footer{
    background-color: var(--background-color);
    color: #eee;
    padding:2rem;
    text-align: center;
    font-size: 1.1rem;
}