.row{
    display:flex;
    width:400px;
    height: 300px;
  }
  
  .row > div{
    margin:1rem;
    width: 100px;
    height: 100px;
    border: 1px solid;
    
  }

  .third{
    align-self: flex-end;
  }
  